body {
	margin: 0;
	padding: 124px 0 50px;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 16px !important;
	margin:0 !important;
}

.shopping-list {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li.item { 
			display:block;
			padding: 20px;
			font-size: 2em;
			background-color: #fff;
			border-bottom: solid 1px #ccc;
			position: relative;
			&:last-child {
				border-bottom: 0;
			}
			span, div.delete {

			}
			span {
			}
			div.delete {
				position: absolute;
				right: 10px;
				top:25px;
				color: #ddd;
				&:hover {
					color: red;
				}
			}
		}
		li.item.checked {
			text-decoration: line-through;
		}
	}
}

.glyphicon-unchecked, .glyphicon-check, li.item, div.delete {
	&:hover {
	cursor: pointer;
	}
}

 .glyphicon-unchecked {
 	color: #ccc;
 }

 .glyphicon-check {
 	color: green;
 }

.list-info {
	text-align: center;
	position: fixed;
	bottom: 0;
	z-index: 999;
	width: 100%;
	height:50px;
	background-color: #333;
	color: #fff;
	span {
		font-weight: 700;
		position: relative; 
		top:5px;
	}
	.subtitle {
		display: block;
		border-bottom: solid 1px #666;
		text-transform: uppercase;
		font-size: 10px;
	}
}

.header {
	position: fixed;
	top:0;
	width: 100%;
	height: 50px;
	text-align: center;
	color: #fff;
	background-color: navy;
	padding: 10px 0;
	z-index:997;
}

#newItemForm {
	padding: 20px 20px 5px;
	background-color: #fff;
	.form-group {
		margin-bottom: 0;
	}
	#newItem {
		font-size: 1.5em;
		height: auto !important;
		border: 0;
		border-radius: 0;
		padding: 10px 6px;
		border-bottom: solid 1px #ccc;
		box-shadow: 0;
	}
}


.form-control, .form-control:focus {
	box-shadow: none !important;
}

.shopping-list {
}

.item-form {
	position: fixed;
	top:50px;
	width: 100%;
	z-index: 998;
}

